
  @font-face {
    font-family: 'RSU_Regular';
    src: url('./RSU_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  :root
  {
    --text-head:clamp(2rem, 1.6rem + 2vw, 4rem);
    --text-title-b:clamp(2.5rem, 2.4rem + 0.5vw, 3rem);
    --text-content-b:clamp(2.5rem, 1.8rem + 1vw, 3rem);
    --text-content-m:clamp(2rem, 0.8rem + 1vw, 2rem);
    --text-footer:clamp(2rem, 1.6rem + 2vw, 4rem);
    --text-footer-icon:clamp(4rem, 3.4rem + 3vw, 7rem);
  }
.test1
{
  font-size: var(--text-head);
}
.test2{font-size: var(--text-head);}
body { margin: 0 auto }
  .accordion {
    cursor: pointer;
    padding-bottom: 1rem;
  }
  .accordion:hover {
    background-color: #0091D5;
    cursor: pointer;
  }
  .accordion-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.6rem;
  }
  
  .accordion-content {
    margin-bottom: -1.2rem;
  }
  
/* App.css */


.custom-sweetalert
{
  font-family: 'RSU_Regular';
  font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
}
.custom-sweetalert .btn-custom {
  padding: calc(0.5rem + 1vh) calc(2rem + 1vh);
  border-radius: 5px;
  
  cursor: pointer;
  background-color: #007bff;
  font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
  text-decoration: none;  
}

.custom-sweetalert .btn-custom:first-child {
  margin-right: 10px;
  background-color: #6c757d; /* Grey color for cancel button */
  border: none;
  color: white;
  
}

.custom-sweetalert .btn-custom:last-child {
  background-color: #007bff; /* Blue color for confirm button */
  border: none;
  color: white;
}

.custom-sweetalert .btn-custom:first-child:hover {
  background-color: #5a6268; /* Darker grey on hover */
}

.custom-sweetalert .btn-custom:last-child:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

