/*@media screen and (max-width: 1280px) {
    .main_dash
    { 
      display: flex;
      flex-direction: column;
      .sidebar_button
      {
        margin: 0 auto;
        width: 100%;
        border: #11ff00 1px solid;
        padding: 1px;
        .close-open{font-size: 3vw;}
      }
      .sidebar_button p
      {
        border: #111 1px solid;
      }
      .sidebar {
        width: 100%;
        height: 50vw;
        background-color: #a3ffa1;
        overflow-x: hidden;
        transition: 0.5s;
        a{ color: rgb(0, 0, 0);}
        ul {
          padding: 1rem;
          text-decoration: none;
          font-size: 2vw;
          display: block;
          transition: 0.3s;
          list-style-type:none;
        }
        ul li:hover {
          background-color: #f1f1f1;
          color: #000000;
      }
    
      }
      .sidebar_close {
        width: 100%;
        height: 0vw;
        background-color: #a3ffa1;
        overflow-x: hidden;
        transition: 0.5s;
        a{color: rgb(0, 0, 0);}
        ul {
          padding: 1rem;
          text-decoration: none;
          font-size: 1vw;
          display: block;
          transition: 0.3s;
          height: 30vh;
          list-style-type:none;
        }
      }
      
      .display_function
      { 
        padding: 1rem;
        border: 1px saddlebrown solid;
        margin: 0 auto;
        justify-content: center; /* Centers children vertically */
        /*align-items: center; /* Centers children horizontally 
        flex-grow: 1;
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
      }
      .display_function.fade-out {
        opacity: 0;
      }
    }
  }*/

  @font-face {
    font-family: 'RSU_Regular';
    src: url('./RSU_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .accordion {
  }
  
  .accordion-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .accordion-content {
  }
  
/* App.css */


.custom-sweetalert
{
  font-family: 'RSU_Regular';

}
.custom-sweetalert .btn-custom {
  padding: 0.5rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  min-width: 80px; /* Ensures consistent button width */
  background-color: #007bff;
  font-size: 1.7rem;
  text-decoration: none;

  
}

.custom-sweetalert .btn-custom:first-child {
  margin-right: 10px;
  background-color: #6c757d; /* Grey color for cancel button */
  border: none;
  color: white;
  
}

.custom-sweetalert .btn-custom:last-child {
  background-color: #007bff; /* Blue color for confirm button */
  border: none;
  color: white;
}

.custom-sweetalert .btn-custom:first-child:hover {
  background-color: #5a6268; /* Darker grey on hover */
}

.custom-sweetalert .btn-custom:last-child:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

