
/*
body
{
    height: 100%;
    display: flex;
}  */

.body_of_edit
{
    /*padding: 1rem;
    max-width: fit-content;
    margin-inline: auto;*/
    margin: 0 auto;
}
.Shirt_com
{
  width: 100%;
}
.cus_edit
{
  width: 100%;
}
.customer_edit_content
{
    .grid_cus {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      }
      
      .grid_cus_item {
        display: flex;
        flex-direction: column;
      }
      
      .grid_cus_item label {
        margin-bottom: 5px;
      }
      .grid_cus_item select,.grid_cus_item option {
        font-size: large;
        width: 100%;
        height: 3.1rem;

      }
      .grid_cus_item input,
      .grid_cus_item textarea {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
      .grid_cus_item textarea
      {
        height: 10rem;
      }
}
.grid_edit
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.grid-item {
    display: flex;
    flex-direction: column;
}



.order_sum
{
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        border: 1px solid #dddddd;

            .order_info {
                width: 50%;
                border: 1px solid black;
            }
        
            .quantity {
                width: 10%;
                border: 1px solid black;
            }
        
            .price {
                width: 10%;
                border: 1px solid black;
            }
        
            .price_sum {
                width: 15%;
                border: 1px solid black;
            }      

        td, th {
            padding: 0.5rem;
            input{width:90%;}
          }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
      }
    
}

@media screen and (max-width: 680px) 
{
  .body_of_edit
  {

  }
}