:root {
    --input_font: 5vw;
    --white: #ffffff; 
  }
.input_container{
    margin: 20px;
}
.input_container form
{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 1em;
    margin: 0 auto;
    max-width: 100rem;
    p{font-size: var(--input_font); text-align: center;}
}
.form_input div
{
    margin-bottom: 1rem;
}
.form_input div
{    
    display: flex;
    flex-direction: column;
    label{font-size: 4vw;margin-bottom: 0.5rem; }
    textarea{font-size: 4vw; box-sizing: border-box;height: 20vw; padding: 1vw;}
    textarea::placeholder{font-size: 3vw;}
    input{font-size: 4vw; padding: 1vw;}
    button{font-size: 4vw; padding: 1vw;}
}
@media only screen and (max-width: 640px) 
{
    *{background-color: rgb(0, 0, 0);}
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) 
{
    *{background-color: aqua;}
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) 
{
    *{background-color: rgb(255, 0, 0);}
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) 
{
    *{background-color: rgb(0, 255, 13);}

}

/* Largest devices such as desktops (1280px and up) */
