/* src/fonts.css */
.test1{width: 100%;}
@font-face {
    font-family: 'JS_Chanok';
    src: url('./JS_Chanok.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } 
.hidden {
  display: none;
}
.visible {
  display: block;
}
.container_form
{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-columns: repeat(auto-fit,minmax(75rem,1fr)); /* Two equal-width columns */
    grid-gap: 1rem; /* Optional: space between items */
    max-width: 100rem;
    min-width: 65rem;
    border: #ff0202 solid 1px;
    h2
    {
        font-size: 1.5rem;
    }
}
.container_form .grid_input
{
    background-color: #ddd;
    margin: 0 auto;
    padding: 1rem;
    width: 80%;
}
.input_right_container
{display: grid;grid-template-columns:auto 10rem;  align-items: center; gap:1rem; margin: 0 auto;}
.textarea_input_right textarea
{
    padding: 1rem;
    font-size: 2rem;
    width:100%;

}
.color_container_right
{
    /*margin: 0.4vh;
    width: 4.1vh;
    height: 4.1vh;
    border: 0.1em white solid;
    border-radius: 50%;
    overflow: hidden;*/
}
.color_input_right {
    min-width:50%;
    height: 7rem;
    padding: 1px;
    border-radius: 5px;
}

.input_left_container
{display: grid;grid-template-columns:auto 25%;  align-items: center; gap:3vh;}
.textarea_input_left textarea
{
    font-size: 2.5vh;
    width:100%;
    height: 12.5vh;
    padding: 0.8vh;
}
.color_container_left
{
    
    /*margin: 0.4vh;
    width: 4.1vh;
    height: 4.1vh;
    /*border: 0.1em white solid;
    border-radius: 50%;
    overflow: hidden;*/
}
.color_input_left {
    min-width:50%;
    height: 12.5vh;
    padding: 1px;
    border-radius: 5px;
    /*transform: scale(2);*/
}

.body_shirt
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1.6vh;
    width: 80%;
    background-color: #ddd;
    text-align: center;
    font-size: 1vh;
    box-sizing: border-box;

}
.shirt_design
{

    border: 1px solid #ff0000;
    display: flex;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 1vh; /* Distance from the top of the viewport */
    display: inline-block;
    max-height: 40rem;
}
.shirt_design {
    .shirt_img{
    margin: 0 auto;
    width: 40rem;
    min-width: 50rem;
    
    height: 40rem;}
    }

.hidden {
  display: none;
}

.visible {
  display: block;
}
.dot_checkbox
{
    [type=checkbox]
    {
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  margin: 1rem;
    }
    .dot_type
    {
        font-size: 2.5vh;;display: grid;
        grid-template-columns: 25% 40%;
        select
        { margin: 1rem;font-size: 2vh ;min-width:6rem;}
    }
    .dot_position
    {
        font-size: 2.5vh;;display: grid;
        grid-template-columns: 25% 40%;
        select
        { margin: 1rem;font-size: 2vh ;min-width:6rem;}
    }
    .dot_amount
    {
        font-size: 2.5vh;;display: grid;
        grid-template-columns: 25% 40%;
        select
        { margin: 1rem;font-size: 2vh ;min-width:6rem;}
    }
    .dot_color
    {        
        font-size: 2.5vh;;display: grid;
        grid-template-columns: 25% 40%;
        input
        { margin: 1rem;font-size: 2vh ;width: 90%;min-width:6rem;}
    }
}

.grid_dot
{
    display: grid;
    grid-template-columns: 6.25rem 6.25rem; /* Static width for each column */
    gap: 0rem;
}
.grid_dot div
{
    border: 1px solid #000;
    text-align: center;
    color: blue;
}

.dot_right
{       
    font-family: "Noto Serif Thai", serif;
    position: relative;
    bottom: 33.5rem;
    left: 18.1rem;
    font-size: 0.7rem;
    rotate: -20deg;
}
.dot_right h1 {
    margin: -1.3rem;
}
.dot_right .dot3 {
}
.dot_right .dot2 {
}
.dot_right .dot1 {
}

.dot_left
{   
    font-family: "Noto Serif Thai", serif;
    position: relative;
    bottom: 33.5rem;
    left: 25.5rem;
    font-size: 0.7rem;
    rotate: 20deg;
}
.dot_left h1 {
    margin: -1.3rem;
}
.dot_left .dot3 {
}
.dot_left .dot2 {
}
.dot_left .dot1 {
}

.grid_name
{    
    display: grid;
    grid-template-columns: 6.25rem 6.25rem; /* Static width for each column */
    align-items: center;
    text-align: center;
    place-items: center;
    justify-content: center;
    text-wrap: nowrap;
    position: relative;
    bottom: 30rem;
    font-family: 'JS_Chanok';
    gap: 5.5rem;
}
.grid_name
{
    .on_right,.on_left
    {
        .nameright{font-size: 0.8rem;}
        .nameleft{font-size: 0.8rem;}
    }
}
.School-left,.School-right
{
    font-family:'Times New Roman', Times, serif;
    font-size: 1rem;margin-top: -0.8rem;
    /*font-size: 0.8rem;*/
}
.dot_school{font-size: 1.5rem;}
.on_right
{border: 1px solid #000;}
.on_right h1
{margin: 0rem;}

.dot_name{font-size: 1.5rem;}
.on_left
{border: 1px solid #000;}
.on_left h1
{margin: 0rem;}
.logo-right,.logo-left
{
    img
    {
        width: auto; height:auto;
        max-width: 5rem;
    }
}

.info-form
{
    margin: 0 auto;
    background-color: #ddd;
    width: 80%;
    form
    {
        div
        {
            align-items: center;
            padding: 2rem;
            margin-top: -3rem;
            label
            {
                font-size: 1rem;
            }
            textarea
            {
                padding: 1rem;
                font-size: clamp(1rem, 1vw, 70rem);
                width:100%;
                height: 10rem;
            }
            input
            {
                padding: 1rem;
                width:100%;            
                height: 4rem;
                font-size: clamp(1rem, 1vw, 70rem);
            }
        }
    }
}


/*Extra Small Devices (phones):*/
@media (max-width: 280px) {
    .container_form
{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-columns: repeat(auto-fit,minmax(75rem,1fr)); /* Two equal-width columns */
    grid-gap: 1rem; /* Optional: space between items */
    max-width: 100rem;
    min-width: 65rem;
    h2
    {
        font-size: 1.5rem;
    }
}
}