.User-form 
{

}

.User-grid {

}
.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  table-layout: fixed;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  word-wrap:break-word;
  text-wrap:stable;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
  background-color: #f1f1f1;
}

.styled-table img {
  border-radius: 5px;
}

.User-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;

  .User-profile {
    border-radius: 0px;
    justify-content: center;
    align-items: center;

    img {
      width: 10rem;
      height: 10rem;
      padding: 1rem;
      border: #333 solid 2px;
    }
  }

  .User-button {
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-width: 10rem;
    button:nth-child(1) {
      margin: 1rem;
      padding: 6px 14px;
      font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
      border-radius: 6px;
      border: none;
      height: 3rem;
      width: 5rem;
      color: #fff;
      background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
      background-origin: border-box;
      box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }

    button:first-child:focus {
      box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
      outline: 0;
    }

    button:nth-child(2) {
      margin: 1rem;
      padding: 6px 14px;
      font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
      border-radius: 6px;
      border: none;
      height: 3rem;
      width: 5rem;
      color: #fff;
      background: linear-gradient(180deg, #f74b4b 0%, #f63636 100%);
      background-origin: border-box;
      box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }

    button:first-child:focus {
      box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
      outline: 0;
    }
  }

  div {
    display: flex;
    align-items: center;
    column-gap: 5px;

    img {
      width: clamp(5rem, 10vw, 10rem);
      min-width: 1rem;

    }

    .p-static {
      text-align: right;
      font-size: clamp(10px, 1vw, 2rem);
      width: clamp(60px, 6vw, 20rem);
      min-width: 70px;
    }

    .p-value {
      color: blue;
      background-color: #ddd;
      text-align: left;
      font-size: clamp(10px, 1vw, 2rem);
      width: clamp(60px, 6vw, 20rem);
      padding: 0.3rem 0.5rem;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;     
    }
  }
}

.User-add {
  margin: 1rem;

  button {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }

  button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }

  button:hover {
    background-color: #2c974b;
  }

  button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }

  button:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }

  button:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }
}

/*UserAdd*/
/* UserSAED.css */


.UserAdd-form {
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  min-width: 15rem;
}

.UserAdd-form fieldset {
  border: none;
}

.UserAdd-form legend h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.UserAdd-form-main {
  display: flex;
  flex-direction: column;
}

.Form-Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.Form-Profile h1 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.Form-Profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid #ddd;
}

.Input-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Input-profile label {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  /* Blue background color */
  border: 1px solid #007bff;
  /* Blue border */
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  /* Remove underline for links */
  transition: background-color 0.3s, border-color 0.3s;
}

.UserAdd-form h1 {
  font-size: 16px;
  margin-bottom: 8px;
  color: #333;
}

.UserAdd-form input[type="text"],
.UserAdd-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.UserAdd-form input[type="file"] {
  display: none;
}

.UserAdd-form button[type="submit"] {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.UserAdd-form button[type="submit"]:hover {
  background-color: #0056b3;
}

.UserAdd-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 900px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

  button {}
}

.UserAdd-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/*test*/